.aura-reading {
    /* background: url("https://amber-creative-capybara-584.mypinata.cloud/ipfs/QmNnTaKcDiDjcrihRcqcGwcw4ujHik768YAajLha1ceUAt/about_bg.png") no-repeat; */
    margin-top: 10rem;
}
.sec1 {
    text-align: center;
}
.sec1 video {
    width: 80%;
}
.aura-consultation {
    background: transparent linear-gradient(0deg, #2E2A87 0%, #5E59A3 100%) 0% 0% no-repeat padding-box;
    padding: 5rem;
    width: 100%;
    margin: 5rem 0;
}
.aura-consultation .title {
    color: #F0E7F4;
    font-size: 50px;

}
.aura-consultation p {
    color: #F0E7F4;
    width: 80%;
    margin: auto;
    font-size: 22px;
   
}

.Testimonials1 {
    background: #5E59A3 0% 0% no-repeat padding-box;
    /* border-radius: 1rem; */
    width: 80%;
    margin: 5rem auto;
    padding: 7rem;
    color: #fff;
    font: 1.5rem/1.4 Georgia, serif;

    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    font-family: 'Montserrat', sans-serif !important;
}
.bold1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2E2A87;
    font-size: 2.3rem;
    font-family: 'Montserrat', sans-serif !important;
}
.Testimonials1 div {
    text-align: center;
}
.Testimonials1 span {
    font-size: 40px;
}
.Testimonials1-img {
    position: absolute;
    width: 90%;
    top: 80rem;
}
.book-session1, .book-session2
 {
    padding: 1rem;
    border-radius: 20px;
    display: inline-block;
    background: #F0E7F4 0% 0% no-repeat padding-box;
    margin: 2rem;
  
}
.book-session1 p,.book-session2 p {
    color: #9389E3 !important;
}
.book-session2 button, .book-session1 button {
    /* border-color: #6D6FA7 !important; */
    border-radius: 10px;
    padding: 0.4rem 1.5rem;
    border: #9389E3 1px solid;
    background-color: #9389E3;
    color: white;
    font-size: 20px;
    margin: 1rem;
    cursor: not-allowed;
}

.sec3 .title {
    color: #2E2A87;
    font-size: 52px;
    /* width: 25%; */
    margin: auto;
    padding-top: 36px;
}
.sec3 .title {
    width: 39% !important;
}
.sec3 img {
    height: 40rem;
    /* padding: 5rem 15rem; */
    transform: scale(1);
    height: auto;
    position: relative;
    z-index: -1;
    padding: 5rem 2rem;
    width: 65%;
}
.section-4-img {
    text-align: right;
}
.sectionc-4 img {
    width: 80%;
}
.sectionc-4 .title {
    color: #2E2A87;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif !important;
}
.ar .sectionc-4{
    text-align: right;
}
.sectionc-4 p {
    color: #5E59A3;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif !important;
} 
.sectionc-4 {
    margin: 0 10%;
}
sec5 {
    background: url("https://amber-creative-capybara-584.mypinata.cloud/ipfs/QmTeQAPJCuSc5oyJLWsahBVYsvd6ZEG8hFkDksXzoQuVUK/Rectangle%204.png") no-repeat;
    padding: 5rem;
    margin: 0;
}
sec5 .title {
    color: #2E2A87;
    font-size: 50px;
    margin: 3rem;
}
.sec6 .title {
    color: #2E2A87;
    font-size: 50px;
    margin: 1rem 0;
    text-align: right;
}
.sec5-col {
    text-align: center;
}
.col-heading {
    color: #5E59A3;
    font-weight: 600;
    font-size: 25px;
}
.col-p1{
    /* font-size: 20px;
    padding-top: 20px;
    margin-inline: -149px; */
    font-size: 1.5rem;
    padding-top: 0.7rem;
    margin-inline: -7rem;
}
.img-div{
    padding: 0 2rem 2rem;
    height: 45%;
    color: white;
}
.section-4 .img-div {
    text-align: center;
}
.sec6 img {
    width: 100%;
}
.sec6 p {
    /* text-align: right;
    color: #5E59A3; */
    text-align: center;
    color: white;
    font-size: 17px;
}
.sec6 {
    margin: 5rem;
}
.img-1{
    
/* 
    width: 1169px;
    height: 372px;
    
    margin: 8px 0px 85px 167px;
    background-repeat: no-repeat;
    background-size: cover; */
    /* width: 92rem; */
    /* height: 377; */
    margin: 5rem auto;
    background-repeat: no-repeat;
    background-size: cover;
} 
.aura-transformation-sec {
    margin: 0 10%;
}
.img1-title{
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    color: #2E2A87;
    padding-bottom: 3rem;
    

}
.content{
    /* margin-left: 17px;
    font-size: 16px;
    padding-top: 20px;
    color: white; */
    margin-left: 2rem;
    font-size: 1.1rem;
    padding-top: 0.35rem;
    color: white;
}
.data{
    background: transparent linear-gradient(270deg, #ADA6D86E 0%, #8C88ABD1 45%, #4D479C 100%) 0% 0% no-repeat padding-box;
    opacity: 0.89;
    padding: 4rem;
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
}
@media (max-width: 576px){
    .sec3 img{
        transform: scale(1);
        padding: 30px 15px 30px 15px;

    }
}
@media (max-width: 450px){
    .aura-consultation p {
        color: #F0E7F4;
        /* width: 80%; */
        width: 90% !important;
        margin: auto;
        /* font-size: 18px; */
        /* font-size: 2rem; */
        /* font-size: 1.2rem !important; */
        font-size: 1rem !important;
        padding-top: 1.5rem !important;
    }
    .aura-consultation .title {
        color: #F0E7F4;
        /* font-size: 29px; */
        font-size: 2rem !important;
    }
    .aura-consultation {
        padding: 1rem !important;
    }
    .sectionc-4 img {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .sectionc-4 p {
        color: #5E59A3;
        /* font-size: 20px; */
        font-size: 1rem !important;
        padding-top: 1rem;
    }
    .sectionc-4 .title {
        color: #2E2A87;
        /* font-size: 30px; */
        font-size: 1.8rem !important;
        padding-top: 2rem !important;
    }
    .sec3 .title {
      
        /* width: 25%; */
        padding-top: 1rem;
        font-size: 2rem !important;
        width: 55% !important;
    }
    .sec3 img{
        transform: scale(1);
        padding: 3rem 2rem !important;
        width: fit-content;
    }
    .sec1 video {
        width: 89%;
    }

    .Testimonials1 {
        /* background: #5E59A3 0% 0% no-repeat padding-box;  */
        border-radius: 1rem; 
        width: 80%;
        margin: 2rem auto;
        padding: 1rem;
        color: #fff;
        display: flex;
        font: 1.5rem/1.4 Georgia, serif;
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 100%; */
}
    .bold1 {
        align-items: center;
        justify-content: center;
        color: #2E2A87;
        font-size: 1.8rem !important;
        padding-top: 1.2rem !important; 
    }
    .col-p1 {
        font-size: 1.2rem;
       margin-inline: 0rem;
    }   
    
     /* .img1-title xyz {
        font-weight: 400;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        color: #2E2A87; 
         padding-bottom: 1rem; 
     } */
     .xyz{
        font-weight: 400;
        font-size: 2rem !important;
        display: flex;
        justify-content: center;
        color: #2E2A87; 
         padding-bottom: 2rem !important; 
         padding-top: 1rem !important;
     }
    
    .content {
        margin-left: 0rem;
        font-size: 1.1rem !important;
        padding-top: 0rem;
        color: white;
        padding: 10px 18px;
    }
    .data {

        padding: 0rem;
       
    } 
}
@media (max-width: 820px){
    .sec3 img {
        height: 40rem;
        transform: scale(1);
        height: auto;
        position: relative;
        z-index: -1;
        padding: 6rem 6rem;
    }
    .sec3 .title {
        color: #2E2A87;
        font-size: 52px;
        margin: auto;
        padding-top: 36px;
        width: 84% !important;
    }
    .aura-consultation {
        padding: 3rem;
        width: 100%;
        margin: 5rem 0;
    }
    .aura-consultation .title {
        font-size: 56px;
    }
    .aura-consultation p {
        width: 80%;
        margin: auto;
        font-size: 27px;
        padding-top: 1.2rem;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
    .sectionc-4 .title {
        color: #2E2A87;
        font-size: 54px;
        padding-bottom: 1.2rem;
    }
    .sectionc-4 p {
        color: #5E59A3;
        padding-top: 1rem;
        font-size: 24px;
    }
    .sectionc-4 img {
        width: 80%;
        display: flex;
        margin: auto;
    padding-top: 1rem
    }
    .content {
        margin-left: 0rem;
        font-size: 1.5rem;
        padding-top: 0.35rem;
        color: white;
    }
    .img1-title {
        font-size: 3.2rem;
        display: flex;
        justify-content: center;
        color: #2E2A87;
        padding-bottom: 3rem;
    }
    .bold1 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2E2A87;
        font-size: 3.3rem;
        padding-top: 3.5rem;
      
    }

}

